.launchScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.launchTitle {
	margin-bottom: 0.25em;
	font-size: 4em;
	color: #f7b733
}

.launchSubtitle {
	margin-bottom: 1.5em;
	font-size: 1em;
	margin: auto;
	width: 30em;
	margin-bottom: 2em;
	color: #393e47;
}

.launchContainer {
	margin: auto;
	text-align: center;
}

