.topImage {
    display: flex;
    justify-content: center;
    font-size: 8em;
    margin-top: 5%;
}

.otherImage {
    display: flex;
    font-size: 8em;
    justify-content: center;
}

.otherImagesContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 10%;
}

.matchingGameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: rgba(253, 253, 253, 0.986);
    border-radius: 0px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.indicatorButton {
    width: 190px;
    height: 80px; 
    border-radius: 0.1em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    background-color: lightsteelblue;
    text-align: center;
    position: relative;

    left: -190px;
    animation-name: slide;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-name: slide;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeButton {
    from {
        background-color: white;
        color: white;
    }
    to {
        background-color: lightsteelblue;
        color: white;
    }
}
@-webkit-keyframes fadeButton {
    from {
        background-color: white;
        color: white;
    }
    to {
        background-color: lightsteelblue;
        color: white;
    }
}

@keyframes slide {
    100% { left: 0px; }
}
@-webkit-keyframes slide {
    100% { left: 0px; }
}